nav {
  width: 100px;
  height: 100vh;
  padding: 25px 10px;
  /* background-color: #111517; */
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid rgba(225, 225, 225, 0.04);
  justify-content: space-between;
}
nav .logo {
  height: calc(100% / 6);
  display: flex;
  justify-content: center;
  width: 100%;
}
nav .logo h1 {
  font-size: 26px;
}
nav .logo h1 a {
  color: #f9f9f9;
}
nav .logo h1 span {
  color: #d00120;
}
nav .toggle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% / 1.9);
  gap: 45px;
  justify-content: center;
}
nav .toggle .cir_tog {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #656877;
  cursor: pointer;
  position: relative;
  transform: rotate(45deg);
}
nav .toggle .cir_tog::after {
  content: '';
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  position: absolute;
}
nav .toggle .cir_tog.active {
  border-color: #d00120;
  box-shadow: 0px 0px 2px rgb(208, 1, 32), 0px 0px 4px rgb(208, 1, 32),
    0px 0px 6px rgb(208, 1, 32);
  transition: .2s ease-in-out;
}
nav .toggle .cir_tog.active::after {
  background-color: #d00120;
  transition: .2s ease-in-out;
}
nav .toggle .cir_tog:hover {
  border-color: #d00120;
  box-shadow: 0px 0px 2px rgb(208, 1, 32), 0px 0px 4px rgb(208, 1, 32),
    0px 0px 6px rgb(208, 1, 32);
  transition: .2s ease-in-out;
}
nav .toggle .cir_tog:hover:after {
  background-color: #d00120;
}
nav .toggle .cir_tog:hover small {
  opacity: 1;
}
nav .toggle .cir_tog small {
  transition: .3s ease-in-out;
  position: absolute;
  left: 20px;
  top: -48px;
  font-size: 12px;
  font-weight: 300;
  padding: 7px 10px;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 4px;
  transform: rotate(-45deg);
  background: rgba(225, 225, 225, 0.04);
  backdrop-filter: blur(7px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 0;
}
nav .toggle .cir_tog small::before {
  width: 10px;
  height: 14px;
  content: "";
  position: absolute;
  left: -10px;
  bottom: 28%;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  background: rgba(225, 225, 225, 0.04);
  backdrop-filter: blur(7px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.copy {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
}
.copy .tw {
  height: 79px;
  width: 197px;
  position: absolute;
  top: 59px;
  left: -59px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}
.copy p {
  width: 246px;
  display: flex;
  font-size: 16px;
  gap: 10px;
}
.copy p a {
  color: #f9f9f9;
  letter-spacing: .5px;
  font-weight: 300;
}
.copy p span {
  color: #656877;
}
